/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Custom Css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
:root{
    --color-black1: #151515;
    --color-black2: #000000;
    --color-white: white;
    --shadow-color: #C0C0C0;

    --box-shadow: 0 0 10px var(var(--shadow-color));

    --transition: .4s ease;
}
body{
    font-family: "Poppins", sans-serif;
    color: var(--color-black2);
}
h1,h2,h3,h4,h5{
    color: var(--color-black1);
}
h1{
    font-size: 60px;
}
h2{
    font-size: 55px;
}
h3{
    font-size: 32px;
}
h4{
    font-size: 24px;
}
h5{
    font-size: 19px;
}
p{
    font-size: 19px;
}
a{
    font-size: 19px;
    color: var(--color-black1);
}
.btn{
    display: inline-block;
    width: fit-content;
    padding: 10px 40px;
    background: var(--color-black1);
    color: var(--color-white);
    cursor: pointer;
    transition: var(--transition);
}
.btn:hover{
    opacity: .8;
}
img{
    width: 100%;
    display: block;
    object-fit: cover;
}
section{
    padding-top: 120px;
}
.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

/* Start Nav Bar */
nav{
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
    background-color: var(--color-white);
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    max-width: 52px;
}
.navlinks{
    display: flex;
    align-items: center;
    gap: 48px;
}
.navlinks li a{
    border-bottom: 3px solid transparent;
    padding-bottom: 2px;
    transition: var(--transition);
}
.navlinks li a:hover{
    border-color: var(--color-black2);
    color: var(--color-black2);
}
/* End Nav bar */

/* Start header */
header{
    height: 100vh;
    display: grid;
    align-items: center;
}
.header-container{
    display: grid;
    grid-template-columns: 52% auto;
    gap: 80px;
    align-items: center;
}
.header-container p{
    margin-bottom: 30px;
    font-size: 20px;
}
/* End header */

/* Start About Section */
#SobreMi{
    padding-top: 0 !important;
    height: 100vh;
    display: grid;
    align-items: center;
}
.about-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 140px;
    align-items: center;
}
.about-right p{
    margin-bottom: 1rem;
}
.about-right h2{
    margin-bottom: 10px;
}
/* End About Section */

/* Start Services Section */
.myservices{
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.myservices article{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0 0 10px var(--shadow-color);
    padding: 40px 20px;
    border-radius: 10px;
    transition: var(--transition);
}
.myservices article:hover{
    box-shadow: none;
}
.myservices article img{
    max-width: 110px;
    margin: auto;
}
/* End Services Section */

/* Start Skills Section */
.myskills{
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.myskills article{
    box-shadow: 0 0 10px var(--shadow-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    transition: var(--transition);
}
.myskills article:hover{
    box-shadow: none;
}
.myskills article img{
    max-width: 100px;
}
/* End Skills Section */